@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html{
    scroll-behavior: smooth;
}
*,
::after,
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #272532;
    color: #eee;
    font-family: 'Bebas Neue', cursive;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
header{
    background-color:#373B69;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem;
}
header h2{
    color: #708ED2;
    font-size: 30px;
    letter-spacing: 3px;
    text-transform: capitalize;
}
.search{
    background-color: transparent;
    border: 2px solid #272532;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    transition: all 0.3s linear; 
    color: #708ED2;
}
.search::placeholder{
    color: #708ED2;
    transition: all 0.3s linear;
}
.search:focus{
    outline: none;
    background-color: #272532;
}
.movie-container{
    position: relative;
    width: 300px;
    background-color: #373B69; 
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    overflow:hidden;
}
.movie-container:hover .overview{
    transform: translateY(0);
}
.movie-container img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    background-color: inherit;
    
}
.movie-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
    text-transform: capitalize;
    padding :0.5rem 1rem 1rem;
    letter-spacing: 1px;
    font-size: 18px;
    overflow: hidden;
}
.movie-info span{
    background-color:#272532;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    margin-left: 1rem;
    font-weight: bold;
}
.red{
    color:hsl(0, 79%, 46%)
}
.green{
    color: rgb(15, 175, 15);
}
.yellow{
    color: orange;
}
.image{
    background-color: transparent;
}
.overview{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: inherit;
    transform: translateY(101%);
    transition: transform 0.4s linear;
    font-family:sans-serif;
    padding: 2rem;
    overflow: auto;
}
.overview h2{
    margin-bottom: 2rem;
    font-family:'Bebas Neue', cursive;
    letter-spacing: 3px;
    border-bottom: 2px solid white;
    max-height: 100%;
}
footer{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.btn{
    background-color: #373B69;
    padding: 8px 10px;
    border: transparent;
    margin: 0.5rem;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: white;
    font-size: 20px;
    transition: all 0.1s linear;
}
.btn:hover{
    transform: scale(1.2);
    background-color: #505696;
   
}
::-webkit-scrollbar {
    width: 15px;
} 
  /* Track */
  ::-webkit-scrollbar-track {
    background:#272532;
    width: 18px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #708ED2;
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:#82a4f5; 
  }
  