@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*,
::after,
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #272532;
    color: #eee;
    font-family: 'Bebas Neue', cursive;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
header{
    background-color:#373B69;
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem;
}
.search{
    background-color: transparent;
    border: 2px solid #272532;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    transition: all 0.3s linear; 
    color: #708ED2;
}
.search::placeholder{
    color: #272532;
    transition: all 0.3s linear;
}
.search:hover::placeholder{
    color: #708ED2;
}
.search:focus{
    outline: none;
}
.movie-container{
    width: 300px;
    background-color: #373B69; 
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
}
.movie-container img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    
}
.movie-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
    text-transform: capitalize;
    padding :0.5rem 1rem 1rem;
    letter-spacing: 1px;
    font-size: 18px;
    overflow: hidden;
}
.movie-info span{
    background-color:#272532;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    margin-left: 1rem;
    font-weight: bold;
}
.red{
    color:hsl(0, 79%, 46%)
}
.green{
    color: rgb(15, 175, 15);
}
.yellow{
    color: orange;
}